.top-nav-bar {
    padding: 1rem 3rem;
    position: static;
    top: 0;
    /* width: 100%; */


    & ul {
        align-items: center;
        column-gap: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }
}
